<a href="@Url.Action("ReportePersona","Home")" target="_blank" class="btn btn-primary">Reporte Persona</a>

<a href="@Url.Action("ReportePersona2","Home")" target="_blank" class="btn btn-primary">Reporte Persona 2</a>
